{% extends 'bookstore/base.html' %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
<p><strong>Are you an admin?</strong> <a href="{% url 'admin_login' %}">Login as Admin</a></p>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}