{% extends 'bookstore/base.html' %}
{% block content %}
<h2>Add New Book</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required><br>
    <input type="text" name="author" placeholder="Author" required><br>
    <input type="number" step="0.01" name="price" placeholder="Price" required><br>
    <input type="number" name="inventory" placeholder="Inventory Count" required><br>
    <textarea name="description" placeholder="Description" required></textarea><br>
    <button type="submit">Add Book</button>
</form>
{% endblock %}
